<div id="<%= dom_id statement %>">
  <p>
    <strong>Disposable income:</strong>
    <%= statement.disposable_income %>
  </p>

  <p>
    <strong>Ie rating:</strong>
    <%= statement.ie_rating %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= statement.customer_id %>
  </p>

</div>
