<div class="container">
  <h1 class="display-4">New Statement</h1>

  <%= render "form", statement: @statement %>

  <br>

  <div class="mt-4">
    <%= link_to "Back to Statements", statements_path, class: "btn btn-secondary" %>
  </div>
</div>
